*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    height: 100vh;
    /* background-color: rgba(64, 107, 173, 0.712); */
    background-image: url('/images/vista-de-angulo-alto-de-la-computadora-portatil-y-papeleria-sobre-fondo-azul.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* PATRON DE LOGO*/   
    position: relative;
    overflow-x: hidden;
}

/* Overlay para el fondo */
.overlay{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, rgba(20, 60, 120, 0.8), rgba(10, 30, 60, 0.7)); 
    z-index: -1;

}

/* patrón derecho */

.body-pattern {
    position: absolute;
    top: -5%;
    left: -10%;
    width: 60%;
    height: 110%;
    background-image: url('/images/Logo_sin_fondo.png'); 
    background-repeat: repeat;
    background-size: 250px; 
    z-index: 0; 
    pointer-events: none; 


    opacity: 0.6;
    filter: brightness(0) saturate(100%) invert(85%) sepia(20%) saturate(1000%) hue-rotate(180deg);
    
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    mask-image: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);

    animation: floatingPattern 12s ease-in-out infinite;
}
/* Titulo de la pagina */

.header-logo {
    display: flex;
    align-items: center;
    gap: 15px; 
    margin-top: 40px;
    align-self: center;
}

.main-logo {
    width: 40px;
    height: auto;      
    object-fit: contain;
    filter: brightness(0) invert(1); 
}

.header-logo h1 {
    color: #fff;
    font-size: 1.8rem;
    margin: 0;
}
strong{
    color: rgb(69, 162, 255);
    font-weight: bold;
}

h1{
    color: #fff;
    font-size: 1.5rem;
}

.fas{
    color: #fff;
    font-size: 1.5rem;
}

/* Contenedor del formulario */
.form-container{
    margin: auto;
    width: 420px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid #fff2;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px #0006;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.icon-container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;
}

.user-icon{
    font-size: 6rem;
    color: #fff;
    margin-bottom: 10px;
    position: absolute;
    top: -110px;
}

.btn-container{
    display: flex;
    margin-bottom: 20px;
}

.btn-switch{
    flex: 1;
    padding: 4px 10px;
    background-color: #fff0;
    border: none;
    border-bottom: 1px solid #fff5;
    color: #fff6;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-switch:hover{
    background-color: #fff3;
    color: #000;
}

.login-form, .register-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* .input-icon{
    color: #fff;
    font-size: 1.2rem;
    margin-right: 10px;
} */

input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
    background: #fff2;
    border: 1px solid #fff5;
}

#login-container-password{
    position: relative;
}

.icon-eyes{
    align-self: flex-end;
    position: absolute;
    top: 26px;
    right: 8px;
    font-size: 1.2rem;
    color: #0009;
    padding: 2px;
}

.icon-eyes:hover{
    background-color: #0002;
    border-radius: 50px;
}

.btn{
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover{
    background-color: #45a049;
}

.link-recuperar{
    font-size: 0.8rem;
    color: #fffd;
    text-decoration: none;
    cursor: pointer;
}

.link-recuperar:hover{
    text-decoration: underline;
}

/* REGISTRO */

.input-container-register{
    width: 100%;
}

.name-lastname-container{
    display: flex;
    gap: 10px;
}

.btn-register{
    width: 78%;
}

select{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
    background: #fff2;
    border: 1px solid #fff5;
}

/* RECUPERAR CONTRASEÑA */

h2{
    color: #fff;
    margin-bottom: 20px;
}

label{
    color: #feffd9;
    font-weight: bold;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-left: 10px;
}

.ocultar{
    display: none;
}

.form-selected{
    transition: border-color 0.8s;
    border-color: #fff;
    color: #fff;
}

.invalido span{
    color: #f55;
    font-size: 0.8rem;
    margin-top: 5px;
}

.invalido input{
    border-color: #f55;
}

.valido input{
    border-color: #5f5;
}

#login-message{
    color: #f55;
    font-size: 0.8rem;
    margin-top: 5px;
    margin-left: 10px;
}

@keyframes floatingPattern {
    0%, 100% {
        transform: translate(0, 0) scale(1);
    }
    50% {
        transform: translate(20px, 10px) scale(1.05);
    }
}