*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    height: 100vh;
    background-image: url('../images/vista-de-angulo-alto-de-la-computadora-portatil-y-papeleria-sobre-fondo-azul.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* PATRON DE LOGO*/   
    position: relative;
    overflow-x: hidden;
}

.overlay{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #0004; 
    z-index: -1;
}

/* patrón derecho */
.body-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%; /* Ancho de la franja del patrón */
    height: 100%;
    background-image: url('/images/Logo_sin_fondo.png'); 
    background-repeat: repeat;
    background-size: 250px; /* Tamaño de los logos */
    opacity: 0.45;
    z-index: 0; 
    pointer-events: none; 
    /* Degradado para que se desvanezca hacia la izquierda */
    mask-image: linear-gradient(to right, rgb(127, 165, 255), rgba(0,0,0,0));
    -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(255, 127, 127, 0));
}


/* Contenedor del formulario */
.form-container{
    margin: auto;
    width: 420px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid #fff2;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000.1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.recover-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
    background: #fff2;
    border: 1px solid #fff5;
}

.btn{
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.link-recuperar{
    font-size: 0.8rem;
    color: #48e;
    text-decoration: none;
    cursor: pointer;
}

/* REGISTRO */

.input-container-register{
    width: 100%;
}

.name-lastname-container{
    display: flex;
    gap: 10px;
}

.btn-register{
    width: 78%;
}

h2{
    color: #fff;
    margin-bottom: 20px;
}

label{
    color: #0007;
    font-weight: bold;
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-left: 10px;
}

.ocultar{
    display: none;
}

.invalido span{
    color: #f55;
    font-size: 0.8rem;
    margin-top: 5px;
    margin-left: 10px;
}