body{
    height: 100vh;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.sidebar {
    grid-row: span 5 / span 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-sidebar{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    background-color: transparent;
    border: none;
}

.btn-sidebar:hover{
    background-color: #48e6
}

.div2 {
    grid-column: span 4 / span 4;
}

.div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 2;
}

.div6 {
    grid-row: span 2 / span 2;
    grid-column-start: 5;
    grid-row-start: 2;
}

.div7 {
    grid-column: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 5;
}

.div8 {
    grid-column: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 4;
}

.div9 {
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 4;
}